/*
I have left in the (horrible!) development colours to make
it easier to see where different components lie. Please don't
judge me.
*/

h1 {
  font-family: Roboto;
  font-weight: 200;
}

body {
  background-color: tomato;
}

figure {
  border: 1px solid grey;
  border-radius: 5px;
}

figcaption {
  font-family: Roboto;
  font-weight: 100;
}

p {
  font-family: Roboto;
  font-size: 0.8rem;
  padding: 5px;
}

#poke-container {
  display: flex;
  flex-flow: row wrap;
  background-color: blue;
  justify-content: center;
}

.poke-picture-figure {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 150px;
  background-color: yellow;
}

.poke-panel {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: pink;
}

.poke-picture {
  width: 50%;
}
