h1 {
  font-family: Roboto;
  font-weight: 200;
}

body {
  background-color: tomato;
}

#poke-container {
  display: flex;
  flex-flow: row wrap;
  background-color: blue;
  justify-content: center;
}

.poke-panel {
  display: flex;
  flex-flow: column nowrap;
}

.poke-picture-figure {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 150px;
  background-color: yellow;
}

.poke-picture {
  width: 50%;
}
